header, #main, #cubos, footer, #central{
	border-bottom: solid;
}

/*--------------------------------------------
----------------------------------------------
----------------MOBILE FIRST------------------
----------------------------------------------
------------maquetación principal-----------*/
main{
}

#main > *{
	/*margin: auto; para centrar*/
}


#cubos{
	display: flex;
	flex-wrap: wrap;
}

/*header*/
header{
	height: 40px;
	margin: 10px 0px 0px 10px;
}

header .logo{
	width: 250px;
	height: 30px;
	background: url("../media/logo.svg") no-repeat scroll 0% 0% / 100% 100%;
	float: left;
}

header .logo a{
	display: block;
	height: 30px;
	text-indent: -34em;
	overflow: hidden;
}

#cubos section{
	width: 200px;
	padding: 10px;
	background: green;
	border-radius: 40%;
	border: solid;
	margin: auto;
}

/*Nav*/

/*NAV para la version PC*/
.pc-screen-menu ul{
	list-style: none;
	margin: 0;
	display: flex;
	flex-flow: row;
}

.pc-screen-menu ul a {
	text-decoration: none;
	display: block;
	padding: 0.5em 1em 0.5em 1em;
}

.pc-screen-menu ul a:hover {
	background: #00b7f5;
}

/*Añadida la clase para no alteral el resto de li*/
.sb-slidebar li{
	display: block;
	width: 100%;
	margin-left: -20px;
	padding: 20px 0px 20px 0px;
	margin-top: 10px;
}

.sb-slidebar li a{
	padding: 20px 155px 20px 0px;
	background-color: #343434;
}


/*Padding texto, ##############temporal############*/

#central, #mapa{
	padding-left:1em;
}

iframe{
	padding-top: 1em;
}

/**/



.btn {
	display: inline;
	height: 36px;
	width: 36px;
	cursor: pointer;
}

#lines:before {
	border-bottom: 17px double black;
	border-top: 6px solid black;
	content:"";
	height: 5px;
	position: absolute;
	right:3px;
	top: 4px;
	width:30px;
}

/*footer*/
footer{
	text-align: center;
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
-o-transition:.1s; -ms-transition:.1s; -moz-transition:.1s; -webkit-transition:.1s; transition:.1s; -webkit-transition-property: transform; transition-property: transform; -webkit-transform: translateZ(0); transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    margin-right: 18px;
    color: #ffffff;
    background-color: none;

		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 17px;
		margin-right: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
}
.soc a:hover { z-index: 2; }

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}

.soc-twitter:before {
    content:'a';
}
.soc-email2 {
    background-color: #578AD6;
}
.soc-email2:before {
    content:'.';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}

.soc-twitter:hover {
    background-color: #61bbf2;
}
.soc-email2:hover {
    background-color: #6b9eea;
}
.soc-facebook:hover {
    background-color: #526fac;
}
.soc-google:hover {
    background-color: #ed5241;
}
.soc-linkedin:hover {
    background-color: #4785cb;
}



/*Media: MAS de 800px de ancho*/
@media (min-width: 800px) {
	.soc li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 27px;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		border-radius: 18px;
	}

	.btn {
		display: none;
	}

	#lines:before {
		display: none;
	}

}
/*FIN MEDIA 800px*/

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/*html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }*/

.slides {
		padding: 0;
		width: 609px;
		height: 420px;
		display: block;
		margin: 0 auto;
		position: relative;
}

.slides * {
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
		top: 0;
		opacity: 0;
		width: 609px;
		height: 420px;
		display: block;
		position: absolute;

		transform: scale(0);

		transition: all .7s ease-in-out;
}

.slide img {
		width: 100%;
		height: 100%;
}

.nav label {
		width: 50px;
		height: 100%;
		display: none;
		position: absolute;

		opacity: 0;
		z-index: 9;
		cursor: pointer;

		transition: opacity .2s;

		color: #FFF;
		font-size: 2em;
		text-align: center;
		line-height: 380px;
		font-family: "Varela Round", sans-serif;
		background-color: rgba(255, 255, 255, .3);
		text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
		opacity: 1;

		transform: scale(1);

		transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
